1.5.2/beacon-tools/cloud-adminservice/target/classes
1.5.2/beacon-tools/cloud-registerservice/target/classes
1.5.2/beacon-tools/cloud-eurekaservice/target/classes
1.5.2/beacon-tools/cloud-toolservice/target/classes
1.5.2/beacon-tools/cloud-configservice/target/classes
